.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 0 12px rgb(255 255 255 / 38%);
    transition: all;
    background: hsla(0,0%,100%,.1);
    backdrop-filter: blur(4px) saturate(160%);

    .site-initials {
        @apply text-white
    }
}